<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alumnot.misproyectos" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Actividad1"
            android:label="@string/title_activity_actividad1" >
        </activity>
        <activity
            android:name=".Intents_Act_01"
            android:label="@string/title_activity_intents__act_01"
            android:parentActivityName="com.example.alumnot.misproyectos.MyActivity"
            >
        </activity>
        <activity
            android:name=".Intents_Act_01_b"
            android:label="@string/title_activity_intents__act_01_b"
            android:parentActivityName="com.example.alumnot.misproyectos.Intents_Act_01"
            >
        </activity>
        <activity
            android:name=".CicloDeVida"
            android:label="@string/title_activity_ciclo_de_vida" >
        </activity>
        <activity
            android:name=".Actividad2_2"
            android:label="@string/title_activity_actividad2_2" >
            <intent-filter>
                <action android:name="com.example.alumnot.misproyectos.actividad2_2" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Actividad2_1"
            android:label="@string/title_activity_actividad2_1" >
            <intent-filter>
                <action android:name="com.example.alumnot.misproyectos.actividad2_2" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
